.dropdown-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    margin: 20px 0px;
    box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.5);
}



