.dropdown-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: first baseline;
    border: 1px solid white;
    border-radius: 10px;
    height: 400px;
    width: 400px;
    padding: 20px;
    overflow: auto;
    box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.5);
}

.item-country{
    padding: 10px;
}