.filter-input {
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 0;
  border-radius: 6px;
  border: 1px solid white;
  background-color: rgb(17, 14, 44);
  color: white;
  outline: none;
  box-sizing: border-box;
}