.heading{
  text-align: center;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 255, 255, 0.5);
}

.main-page{
  margin-top: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}